header {
    display: flex;
}

.title {
    /* border: 1px solid red; */
    margin-bottom: 40px;
    width: 100%;
    font-size: 40px;
    color: #46554a;
    font-weight: bolder;
    flex: 25;
}

.sideBarButton {
    height: 15px;
    margin: 16px 5px 0 0;
    flex: 1;
}