.selectContainer {
    border-bottom: solid 0.5px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.listTab {
    /* border: solid 1px red; */
    display: flex;
    list-style: none;
}

.tab {
    /* border: solid 1px blue; */
    width: 60px;
    text-align: center;
    padding: 5px 5px;
}

.focused {
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.addModalOpenButton {
    font-size: 16px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    width: 60px;
    height: 25px;
}
.addModalOpenButton:hover {
    border: solid 1px grey;
    text-decoration: none;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 30px;
}

.addTodoModalBackdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
}

.addTodoModalView {
    border-radius: 10px;
    background-color: white;
    width: 350px;
    height: 250px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.10);
}

.addTodoTitle {
    font-size: 30px;
    color: #46554a;
    font-weight: 600;
    margin: 10px 0px 0px 20px;
}

.inputModalDate {
    margin: 20px 0px 20px 0px;
}

.todoDate {
    margin-left: 17px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    border: none;
    width: 90%;
    height: 35px;
    box-shadow: 0px 0px 5px lightgray;
}
.todoDate:focus {
    outline: none;
    border: solid 1px grey;
}
.todoDate:hover {
    border: solid 1px grey;
}

.inputContainer {
    /* border: solid 1px red; */
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.todoInput {
    margin: auto;
    width: 90%;
    height: 45px;
    padding: 0px 15px 0px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
    font-weight: 500;
}
.todoInput:focus {
    outline: none;
    border: solid 1px grey;
}
.todoInput:hover {
    border: solid 1px grey;
}

.addButton+.addCancelButton {
    margin-left: 20px;
}

.buttonContainer {
    text-align: center;
}

.addButton,
.addCancelButton {
    margin-top: 12px;
    width: 60px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.addButton {
    background-color: #3184d5;
}
.addButton:hover {
    background-color: #64AAFF;
    text-decoration: none;
}
.addButton:active {
    background-color: #3184d5;
}

.addCancelButton {
    background-color: #d33031;
}
.addCancelButton:hover {
    background-color: #E68282;
    text-decoration: none;
}
.addCancelButton:active {
    background-color: #d33031;
}

.todoCount {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.todoNum {
    font-size: 14px;
}

.listCountDropDown {
    /* border: solid 1px red; */
    text-align: right;
}

.dropDown {
    border: none;
}

.dropDown:focus {
    outline: none;
}

/* 최소 너비 550부터 아래 내용 적용 */
@media screen and (min-width: 550px) {
    .addTodoModalView {
        width: 550px;
    }

    .todoDate {
        width: 35%;
        margin-left: 27px;
    }
}