.displayNone {
    z-index: 5;
    background-color: white;
    height: 100%;
    width: 60vw;
    right: -60vw;
    top: 0;
    position: fixed;
    transition: 0.2s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.10);
}

.open {
    right: 0;
    transition: 0.2s ease;
}

.closeButton {
    float: left;
    border: none;
    background-color: transparent;
    margin: 20px 0px 0px 10px;
    font-size: 20px;
    width: 25px;
    height: 25px;
}

.closeButton:hover {
    text-decoration: none;
    background-color: lightgray;
    border-radius: 6px;
}

.sideList {
    margin: 70px 15px 0px 15px;
    list-style: none;
}

.sideList>li {
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    margin-bottom: 10px;
}

.sideList>li:hover {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    padding-left: 5px;
}

.icon {
    margin-right: 10px;
}

.back {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}