.back {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.displayNone {
    z-index: 5;
    background-color: white;
    height: 100%;
    width: 200px;
    right: -200px;
    position: fixed;
    transition: 0.2s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.10);
}

.open {
    right: 0;
    transition: 0.2s ease;
}

.closeButton {
    float: right;
    border: none;
    background-color: transparent;
    margin: 33.5px 10.5px 0 0;
    font-size: 20px;
}

.closeButton:hover {
    text-decoration: none;
}

.sideList {
    margin-top: 97px;
    list-style: none;
}

.sideList>li {
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
    color: #282828;
}

.sideList>li:hover {
    background-color: lightgray;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    padding-left: 5px;
}

.icon {
    margin-right: 15px;
}

/* 최소 너비 550부터 아래 내용 적용 */
@media screen and (min-width: 550px) {
    .displayNone {
        height: 270px;
        width: 700px;
        top: -700px;
        position: relative;
    }

    .open {
        top: 0;
        transition: 0.2s ease;
    }

    .closeButton {
        margin: 33.5px -5px 0 0;
    }

    .sideList {
        margin-top: 70px;
    }

    .sideList>li {
        padding-left: 20px;
    }

    .icon {
        margin-right: 20px;
    }
}