.todoListContainer {
    display: flex;
    /* margin: 50px 0px 100px 0px; */
    padding: 10px 0px 10px 0px;
    min-height: 70px;
    border-bottom: 0.5px solid lightgray;
}

.clearTodoContent {
    color: gray;
}

.checkTodo {
    flex: 0.5;
    margin: auto;
    padding-left: 5px;
}

/* 체크박스 디자인 */
.checkTodo input[type="checkbox"] {
    /* 실제 체크박스는 화면에서 숨김 */
    display: none;
}

.checkTodo input[type="checkbox"]+label {
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.checkTodo input[type="checkbox"]+label:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: none;
    border: 2px solid #cacece;
    border-radius: 3px;
}

.checkTodo input[type="checkbox"]+label:before {
    position: absolute;
    left: 0;
    top: -10px;
    margin-top: 0;
    border-color: black;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checkTodo input[type="checkbox"]:checked+label:before {
    position: absolute;
    width: 6px;
    top: -12px;
    left: 8px;
    border-radius: 0;
    border-color: none black black transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 7.5;
}

.editTodoContent {
    flex: 5;
    text-align: left;
    margin: 0px 5px 0px 10px;
    border: none;
    border-bottom: solid 1px black;
    font-weight: 500;
}

.editTodoContent:focus {
    outline: none;
}

.clearTodoContent>.contentWrapper>.todocontent {
    text-decoration: line-through;
}

.todocontent {
    display: flex;
    align-items: center;
    flex: 5;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

.inputDate {
    flex: 5;
    font-size: 13px;
    text-align: left;
    padding-left: 12px;
    color: gray;
}

.complete {
    flex: 0.8;
    text-align: center;
    margin: auto;
}

.completeButton {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.edit {
    flex: 0.8;
    text-align: center;
    margin: auto;
}

.editButton {
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.delete {
    flex: 0.8;
    text-align: center;
    margin: auto;
}

.popUpDeleteModal {
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.modalBackdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
}

.modalView {
    border-radius: 10px;
    background-color: white;
    width: 350px;
    height: 190px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.10);
}

.warningIcon {
    width: 60px;
    height: 60px;
    margin: 20px 0px 15px 0px;
}

.warningMessage {
    margin-bottom: 15px;
}

.cancelButton+.deleteButton {
    margin-left: 20px;
}

.cancelButton,
.deleteButton {
    font-weight: 500;
    width: 70px;
    height: 27px;
    color: white;
    border: none;
    border-radius: 7px;
    text-decoration: none;
}

.cancelButton {
    background-color: #3184d5;
}

.cancelButton:hover {
    text-decoration: none;
}

.cancelButton:active {
    background-color: #64AAFF;
}

.deleteButton {
    background-color: #d33031;
}

.deleteButton:hover {
    text-decoration: none;
}

.deleteButton:active {
    background-color: #E68282;
}

/* 최소 너비 550부터 아래 내용 적용 */
@media screen and (min-width: 550px) {
    .checkTodo {
        flex: 0.6;
    }
    .contentWrapper {
        flex: 16;
    }
}